
* { 
  margin:0;
  padding: 0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif
}

html, body,#root, .heroContainer {

  height: 100%
}

.navbar {
  display: relative;
  z-index: 3;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  height: 70px;
  padding: 40px;  
}

.heroContainer {
  display: flex;
  padding: 40px;
  flex-direction: column;
}

.heroImage {
  display:grid;
  justify-self: center;
  width: 90%;
  height:auto;
  margin: 0 auto;
}

.heroText {
  margin-top: 30px;
}

.heroHeader {
  font-size: 36px;
  font-weight: bold;
}

.description {
  margin-top: 20px;
}





























/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
